<!-- Crestron Live Sports Schedule Pane -->
<div class="container">
  <div class="row">
    <div class="form-group hidden-print pull-right" id="lineupsButtons">
      <button class="btn btn-warning btn-sm  hidden-xs" type="button" id="addStation" >Add Station</button>
      <button class="btn btn-info btn-sm hidden-xs" type="button" id="save_lineups">Save</button>
    </div>
  </div>
</div>
</div>

<div id="crestronLiveSportsTable">{% include 'Lineups/channelLineupsTable.html' %}</div>

<!-- Modal Winddow for Adding new station to database -->
<div class="modal fade" id="addStationModal">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Add Station</h4>
    </div>
    <div class="modal-body">
      <form class="form"  role="form" data-toggle="validator" id="addStationForm">
        
        <div class="form-group">
          <label for="channelName">Name</label>
          <input type="text" class="form-control" name="channelName" id="stationChannelName" placeholder="ChannelName" required>
          <div class="help-block with-errors" ></div>
        </div>
        <div class="form-group">
          <label for="uctvNo">uctvNo</label>
          <input type="text" class="form-control" name="uctvNo" id="stationUcvtNo" placeholder="uctvNo" required>
          <div class="help-block with-errors" ></div>
        </div>
        <div class="form-group">
          <label for="HD">HD</label>
          <input type="checkbox"  name="HD" id="stationHD" >
          <label for="crestron">Crestron</label>
          <input type="checkbox"  name="crestron" id="stationCrestron" >
        </div>
      </form>
      
      <button  class="btn btn-primary" id="submitStation">Submit</button>
      
    </div>