
<table role="table" class="table table-bordered table-striped  table-condensed channelLineupTable" id="channelLineupsTable">
  <thead>
    <tr>
      
      <th>Orig Channel #</th>
      <th>Name</th>
      <th class="hidden-xs">StationID</th>
      <th class="hidden-xs">LineupID</th>
      <th>uctvNo</th>
      <th class="hidden-xs">HD</th>
      <th class="hidden-xs">Crestron</th>
      
    </tr>
    <tbody>
      {% for i in channelLineups %}

       {% if i['uctvNo']%}

        <tr id="{{i['id']}}" class="assigned">
        <td > <strong> {{ i['channelNumber'] }} </strong>  </td>
        <!--<td> {{i['callsign']}}</td>-->
        <td class="channelName" contenteditable="true">  {{ i['channelName'] }}    </td>
        <td class="hidden-xs">  {{ i['stationID'] }}    </td>
        <td class="hidden-xs">  {{ i['lineupID'] }}    </td>
        <td class="uctvNo" contenteditable="true"> {{ i['uctvNo']}}</td>

        {% if i['HD'] == 1  %}
          <td class="hidden-xs"><input type="checkbox" checked name="HD" id="{{i['id']}}"></td>
        {% else %}
          <td class="hidden-xs"><input type="checkbox"  name="HD" id="{{i['id']}}"></td>
        {% endif %}
        
        {% if i['crestron'] == 1  %}
          <td class="hidden-xs"><input type="checkbox" checked name="crestron" id="{{i['id']}}"></td>
        {% else %}
          <td class="hidden-xs"><input type="checkbox"  name="crestron" id="{{i['id']}}"></td> 
        {% endif %}

        {% else %}

        <tr id="{{i['id']}}" class="unassigned">
        <td >  {{ i['channelNumber'] }}    </td>
        <!--<td> {{i['callsign']}}</td>-->
        <td class="channelName" contenteditable="true">  {{ i['channelName'] }}    </td>
        <td class="hidden-xs">  {{ i['stationID'] }}    </td>
        <td class="hidden-xs">  {{ i['lineupID'] }}    </td>
        <td class="uctvNo" contenteditable="true"> {{ i['uctvNo']}}</td>
        {% if i['HD'] == 1  %}
          <td class="hidden-xs"><input type="checkbox" checked name="HD" id="{{i['id']}}"></td>
        {% else %}
          <td class="hidden-xs"><input type="checkbox"  name="HD" id="{{i['id']}}"></td>
        {% endif %}
        
        {% if i['crestron'] == 1  %}
          <td class="hidden-xs"><input type="checkbox" checked name="crestron" id="{{i['id']}}"></td>
        {% else %}
          <td class="hidden-xs"><input type="checkbox"  name="crestron" id="{{i['id']}}"></td>
          
        {% endif %}


        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>