

<table id="channelGuideTable" class="table  table-bordered">
    <thead>
        <tr>
            <th>Channel</th>
            <th>Name</th>
            <th class="hidden-xs">provider</th>
            <th class="hidden-xs">orig Chan</th>
    
        </tr>
    </thead>
        {% for i in channels %}
        {% if i['uctvNo'] != 'None' %}
        <tr id="{{i['id']}}">
            <td class="uctvNo channelGuide " >   {{ i['uctvNo'] }}   </td>
             <td class="channelName channelGuide" > {{ i['channelName'] }}   </td>
            <td class="hidden-xs"> {{i['providerName']}} </td>
            <td class="hidden-xs"> {{i['channelNumber']}} </td>
     
        </tr>
        {% endif %}
        {% endfor %}
</table>




