

<table id="channelGuideTable" class="table  table-bordered">
    <thead>
        <tr>
            <th>Channel</th>
            <th>Name</th>
            <th class="hidden-xs">provider</th>
            <th class="hidden-xs">orig Chan</th>
            <th class="hidden-xs">modulator</th>
             <th class="hidden-xs">RF#</th>
        </tr>
    </thead>
        {% for i in channels %}
        {% if i['uctvNo'] != 'None' %}
        <tr id="{{i['id']}}">
            <td class="uctvNo channelGuide " >   {{ i['uctvNo'] }}   </td>
            {% if i['HD'] == 1 %}
            <td class="channelName channelGuide highlight" > <strong> {{ i['channelName'] }} </strong>   </td>
            {% else %}
             <td class="channelName channelGuide" > {{ i['channelName'] }}   </td>
             {% endif %}
            <td class="hidden-xs"> {{i['providerName']}} </td>
            <td class="hidden-xs"> {{i['channelNumber']}} </td>
            <td class="hidden-xs"> {{i['modulator']}} </td>
             <td class="hidden-xs"> {{i['rf']}} </td>
        </tr>
        {% endif %}
        {% endfor %}
</table>




