{% extends "master.html" %}

{% block navbar %}
  <div class="container" >
    <nav class="navbar navbar-default" id="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
       
   <a class="navbar-brand" href="/">UCTV</a></div>

   <div>
        <ul class="nav navbar-nav nav-pills " >

          <li><a data-toggle="pill" class="active white" href="#guide">Guide</a></li>
          <li><a data-toggle="pill" href="#liveSports">Live Sports</a></li>
          <li><a data-toggle="pill" href="#crestronLiveSports">Crestron Live Sports</a></li>
          <li><a data-toggle="pill" href="#lineups">Lineups</a></li>
          <li><a data-toggle="pill" href="#docs">Docs</a></li>
        
        </ul>
        </div>

        <div>

        {% if event == "No Event" %}
        <div></div>
          {% else %}
        <div id="eventInfo" class="pull-right">Event is {{event[0]}}: Starts at {{event[1]}} </div>
        {% endif %}
        </div>

      </div>
    </nav>

  </div>
{% endblock %}

{% block page_content %}



<div class="container"><div id="alert"></div></div>

  <div class="container" id="mainContent">
   
    <div class="tab-content">
 
      <div class="tab-pane active" id="guide"></div>
      <div class="tab-pane" id="liveSports"></div>
      <div class="tab-pane" id="crestronLiveSports"></div>
      <div class="tab-pane" id="lineups"></div>
      <div class="tab-pane" id="docs"></div>
      
    </div>
  </div>
{% endblock %}