

 

    <table role="table" class="table table-bordered table-condensed sportsTable ">
        <tr>
            <th >Sport</th>
            <th>Event</th>
            <th width="50">Start</th>
            <th>Stop</th>
            <th>Channel</th>
            <th >Channel</th>
         
        </tr>
                {% for i in liveSports %}
       
                  
                    <tr class="pdf">
                        <td>{{ i['sport'] }}</td>
                        <td>{{ i['event'] }}</td>
                        <td>{{ i['startTime'] }} </td>
                         <td>{{ i['stopTime'] }} </td>
                        <td>{{ i['channelName'] }} </td>
                        <td>{{ i['uctvNo'] }}</td>
                       
                    </tr>
                {% endfor %}
  
       
    </table>

