
<h3  id="printHeading"> hello</h3>
<form  role="form" data-toggle="validator" id="liveSportsForm">
<table role="table" class="table table-bordered table-condensed sportsTable ">
    <tr>
    
      <th ></th>
      <th>startTime</th>
        <th>Channel</th>
        <th>HD</th>
        <th>SD</th> 
<td class="pdf_no_show">X</td>
    </tr>
        {% for sport in sportslist|groupby('sport') %}
            <th class="thSports">{{sport.grouper}}</th>
            {% for i in sport.list %}
                {% if 'Chicago' in i['event']%}
            <tr class="pdf">
                
                <td><strong><input size="40" type="text" name="{{ i['listingID'] }}" value="{{ i['event'] }}" required></strong></td>
                <td><strong><input size="8" type="text" name="{{ i['listingID'] }}" value="{{ i['startTime'] }}" required> </strong></td>
                <td><strong>{{ i['channelName'] }}</strong></td>

                  {% if i['uctvNo'] == i['SD'] %}

                <td></td>
                <td><strong> {{ i['SD'] }} </strong></td>

                {% else %}

                <td><strong> {{ i['uctvNo'] }} </td>
                <td><strong> {{ i['SD'] }} </strong></td>
                {% endif %}

                <td class="pdf_no_show"><input type="checkbox" name="delete" value="{{ i['listingID'] }}"></td>
          </tr>
            {% else %}
            <tr>

              <td ><input size="40" type="text" name="{{ i['listingID'] }}" value="{{ i['event'] }}" required></td>
                <td><input size="8" type="text" name="{{ i['listingID'] }}" value="{{ i['startTime'] }}" required> </td>
                 <td> {{ i['channelName'] }} </td>

                {% if i['uctvNo'] == i['SD'] %}

                 <td></td>
                <td><strong> {{i['SD']}} </strong></td>

                {% else %}
                <td><strong> {{i['uctvNo']}} </td>
                <td><strong> {{i['SD']}} </strong></td>
                {% endif %}

                <td class="pdf_no_show"><input type="checkbox" name="delete" value="{{ i['listingID'] }}"></td>
            </tr>
            {% endif %}
            {% endfor %}
         {% endfor %}
</table>
</form>
          
 
