

<h3  id="pdfHeading" class="printHeading"> </h3>

    <table role="table" class="table table-bordered table-condensed">
        <tr>
            <th></th>
            <th>Time</th>
            <th>Channel</th>
            <th>HD</th>
            <th>SD</th>
        </tr>
        {% for sport in sportslist|groupby('sport') %}
            <tr><th class="thSports">{{sport.grouper}}</th><th></th><th></th><th></th><th></th></tr>
            {% for i in sport.list %}
                {% if 'Chicago' in i['event']%}
                    <tr class="pdf">
                        <td class='event edit'><strong>{{ i['event'] }}</strong></td>
                        <td class='startTime edit'><strong>{{ i['startTime'] }} </strong></td>
                        <td class="channelName edit"><strong>{{ i['channelName'] }}</strong> </td>
                          {% if i['uctvNo'] == i['SD'] %}
                        <td class="HD edit"><strong></td>
                        <td class="SD edit"><strong>{{i['SD']}}</td>
                        {% else %}
                        <td class="HD edit"><strong>{{i['uctvNo']}}</td>
                        <td class="SD edit"><strong>{{i['SD']}}</td>
                         {% endif %}
                    </tr>
                {% else %}
                    <tr>
                        <td class='event edit'>{{ i['event'] }}</td>
                        <td class='startTime edit'>{{ i['startTime'] }} </td>
                        <td class="channelName edit">{{ i['channelName'] }} </td>
                        {% if i['uctvNo'] == i['SD'] %}
                        <td class="HD edit"><strong></td>
                        <td class="SD edit"><strong>{{i['SD']}}</td>
                        {% else %}
                        <td class="HD edit"><strong>{{i['uctvNo']}}</td>
                        <td class="SD edit"><strong>{{i['SD']}}</td>
                         {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </table>










